# Configurações do Backend (Supabase)
NEXT_PUBLIC_API_URL=http://localhost:3000

# Se usar Supabase:
NEXT_PUBLIC_SUPABASE_URL=your_supabase_url
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=your_supabase_publishable_key

# URL de Pooling (usado para as operações da aplicação)
DATABASE_URL="postgresql://postgres.[SEU_ID]:[SUA_PASSWORD]@aws-0-[REGIAO].pooler.supabase.com:6543/postgres?pgbouncer=true"

# URL Direto (usado para migrações do Prisma)
DIRECT_URL="postgresql://postgres.[SEU_ID]:[SUA_PASSWORD]@aws-0-[REGIAO].pooler.supabase.com:5432/postgres"

# Mapbox Configuration
NEXT_PUBLIC_MAPBOX_TOKEN=your_mapbox_token




